@font-face {
    font-family: 'gg sans Bold';
    src: url("../fonts/gg sans Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'gg sans Medium';
    src: url("../fonts/gg sans Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'gg sans Regular';
    src: url("../fonts/gg sans Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'gg sans Semibold';
    src: url("../fonts/gg sans Semibold.ttf") format('truetype');
}